{% extends "base.html" %}

{% block content %}

<!--item list-->
<h3>Item List</h3>
<form class='form-inline' method='post' action="{{url_for('.add_to_cart')}}">
<table class="table table-striped table-hover"style="width:30%;margin-top:30px;">
    <thead>
    <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    
    {% for item in items %}
    <tr>
        <td>
                {{
                    item['item']}}
                    </td><td>
                    {{item['price']
                }}
        </td>
        <td style = "width:30%">
                <input class='form-control' type='number' name='quantity' min='0' value='0'/>
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>
<input class='btn btn-primary' type='submit' value= 'add to cart'/>
</form>
<br><br>
<!-- cart -->
<h3>Cart Items</h3>
<table class="table table-striped table-hover"style="width:30%;margin-top:30px;">
    <thead>
    <tr>
        <th>Item Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for cart in carts %}
    <tr>
        <td>
                {{
                    cart['item']}}
                    </td><td>
                    {{cart['price']
                }}
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>

<!-- add items -->
<h2>Add Item</h2>

<form class='form-inline' method='post' action="{{url_for('.add_item')}}">
    <div>
    <input class='form-control' type='text' name='item' placeholder='Item'/>
    </div>
    <div>
    <input class='form-control' type='number' name='price' placeholder='Price'/>
    </div>
    <input class='btn btn-primary' type='submit' value='Add'/>
    <br>
    <div class = "col-sm-2">
        {% with messages = get_flashed_messages(category_filter=["create_item_success"]) %}

            {% for message in messages %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{message}}
                </div>
            {% endfor %}

        {% endwith%}

        {% with messages = get_flashed_messages(category_filter=["add_item_failure"]) %}

            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{message}}
                </div>
            {% endfor %}

        {% endwith%}
    </div>
    </form>


{% endblock %}