{% extends "base.html" %}

{% block content %}

<div id='example'></div>
    
{% endblock %}

{% block jsimports %}

    <script type="text/jsx" src="{{url_for('static', filename='js/samples/z.js')}}"></script>
    <script type="text/jsx">
        React.render(
            <PostBox url='/getsampledata' pollInterval={2000}/>,
            document.getElementById('example')
        );
    </script>


{% endblock %}